{% extends "layout.html" %}
{% block title %}Bus Information{% endblock %}
{% block content %}
<div class="container body-content">
    <h2>Bus Information</h2>
    <div>
        <p>You entered postcode <span>{{ postcode }}</span></p>
    </div>
    <div>
        <p>You entered number of stops <span>{{ number_of_stops }}</span></p>
    </div>
    <div>
        <p>You entered number of buses <span>{{ number_of_buses }}</span></p>
    </div>

    <div>
        {% for bus_stop in postcode_travel_info.bus_stops %}
        <div>
            {% for bus in bus_stop.departures %}
            <div>
            <p>Line name</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <div>{{line_name}}</div>
    </div>
</div>
{% endblock %}
